{% load static %}

<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'css/leaflet.fullscreen.css' %}" />

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="map-container">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#map-collapse" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="center">Carte des résultats</span>
            </a>
        </h4>
    </div>
    <div id="map-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div id="map-panel" class="panel-body">
            <div id="leaflet-map" class="center"></div>
        </div>
    </div>
</div>
